@mixin iconosModalUl(){
	position: relative;
   	display: inline-flex;
    padding: 10px;
   	list-style:none;
}
@mixin botonModal(){
	position: relative;
	left: 169px;
    background-color:$rojoPinterest;
    color:white;
}
@mixin usuarioImagen(){
	position: relative;
    top: -8px;
    color: $grisTipo;
    font-weight: bold;
}