*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Roboto', sans-serif;
	background: #e9e9e9;
	color:$grisTipo;
	font-weight: bold;
	nav{
		background: #fff;
		border: 1px solid $grisTipo;
		div.container-fluid{
			background:#fff;		
		}
		i{
			color:$rojoPinterest;
		}
	}
	.contenedor{
		width:90%;
		margin:15px auto;
		.el2{

		}
	}
	/*estilo modal*/
	div.modal-container{
		padding: 2% 30%;
		ul{
			position: relative;
    		display: inline-flex;
    		li{
    			padding: 6%;
    		}
		}
	}
}

